<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2> Edit Review</h2>

    <h4>Upate Title:</h4>
    <form class="edit-review-form">
        <div>                
            <textarea name="review-title" id="review-title">{{review.title}}</textarea>
            <span>{{review.title}}</span>
        </div>

        <div>
            <textarea name="review_text" id="review_text">{{review.review_text}}</textarea>
            <span>{{review.review_text}}</span>
        </div>

        <div>
            <a href="/review/{{review.id}}">{{review.length}}</a>
        </div>
        <button type="submit">Save Review</button>
        <button type="button" class="delete-review-btn">Delete Review</button>
    </form>
</article>

<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>
{{!-- <script src="/javascript/review.js"></script> --}}