<head>
    <link rel="stylesheet" href="/../stylesheets/edit-review.css">
</head>

<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2> Edit Review</h2>

    <form class="edit-review-form">
        <div>
            <span>{{review.title}}</span>
            <textarea name="review-title" id="review-title">{{review.title}}</textarea>

        </div>

        <div>
            <span>{{review.review_text}}</span>
                        <textarea name="review_text" id="review_text">{{review.review_text}}</textarea>

        </div>

        <div>
            <a href="/review/{{review.id}}">{{review.length}}</a>
        </div>
        <button type="submit" class="btn">Save Review</button>
        <button type="button" class="delete-review-btn">Delete Review</button>
    </form>
</article>

<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>
{{!--
<script src="/javascript/review.js"></script> --}}