{{!-- Show maid name and review qty --}}

<body>
    

<article class="maid">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <div class="title">
        {{ maid.name }}
    </div>

    <div class="meta">
        <a href="/maid/{{maid.id}}">{{maid.reviews.length}} Review(s)</a>
    </div>
</article>

{{!-- add review form --}}
{{#if loggedIn}}
<form class="review-form">
    <div>
        <label for="review-title">Title:</label>
        <input type="text" name="review-title" id="review-title">
    </div>
    <div>
        <label for="review-body">Review:</label>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit">Post Review</button>
    </div>
</form>
{{/if}}

{{!-- reviews displayed connected to maid --}}
<div class="reviews">
    <h2>Reviews</h2>
    {{#each maid.reviews}}
    <section class="review">

        <div class="text">
            <li>
                <strong>{{title}}</strong> <em>{{review_text}}</em> <small>{{user.username}}</small>
            </li>
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="../javascript/review.js"></script>
{{/if}}
</body>